body {
  background-color: rgb(230, 230, 255);
}

ul {
  list-style: none;
  padding-left: none;
}

li {
  cursor: grab;
}

.card {
  pointer-events: none;
}

.card button {
  pointer-events: all;
  text-align: center;
  background-color: rgb(100, 100, 255);
  border-radius: 5px;
  color: white;
  border: none;
  margin: 10px;
  text-align: center;
  width: 50%;
  height: 60px;
}

.card button:focus {
  background-color: rgb(100, 100, 255);
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#counter {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  margin: 1rem;
  color: white;
  background-color: rgb(100, 100, 255);
  border-radius: 8px;
}

#reset {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem;
  margin: 1rem;
  color: white;
  background-color: rgb(100, 100, 255);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}

#reset:active {
  transform: rotate(360deg);
}
